<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972049925821-4puf1chbs7s8fj5kb2544luqt3c4r1na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972049925821-4puf1chbs7s8fj5kb2544luqt3c4r1na</string>
	<key>API_KEY</key>
	<string>AIzaSyDADJ8IpBhK4IoalFMuDBfdUE2HLFGwtwI</string>
	<key>GCM_SENDER_ID</key>
	<string>972049925821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahd.workers-community</string>
	<key>PROJECT_ID</key>
	<string>workers-community-cc5de</string>
	<key>STORAGE_BUCKET</key>
	<string>workers-community-cc5de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972049925821:ios:51377386ce54a4605999d4</string>
</dict>
</plist>